@use "sass:string";
@import "./_partials/variables";
@import "./_partials/reset";
@import "./_partials/layout";
@import "./_partials/text";
@import "./_partials/btn";
@import "./_partials/card";
@import "./_partials/loader";

// Header
.page-header{

  position: relative;
  z-index: 16;
  padding: .9rem 1rem .4rem 1rem;
  box-shadow: 0 0 6px rgba(#000, .2);

  .page-title{
    text-align: center;
  }

  .back-link{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: $color-grey;
  }

}

// Footer
.page-footer{
  background: $color-bg-footer;
  color: $color-txt-secondary;

  *{
    color: inherit;
  }

  .page-footer-content{
    gap: 10px;

    .page-footer-title{
      font-size: 1.1rem;
    }

    i.fa-handshake-angle{
      font-size: .7rem;
    }

  }



}

// Heart Logo

.heart-logo{

  width: $heart-width;
  cursor: pointer;

  &+.fill-container{

    position: absolute;
    top: 100%;
    bottom: 4px;
    left: 0;
    right: 0;
    background: transparent;
    transition: top .3s ease-out;
    overflow: hidden;
    pointer-events: none;

    .fill-heart-logo{
      width: $heart-width;
      position: absolute;
      bottom: 0;
      left: 0;
    }

  }

  &:hover{

    &+.fill-container{
      top: 0;
    }

  }

}

// Home

  // Home Header
#Home-header{

  .location{
    background: #eaeaea;
    color: $color-grey;

    *{
      color: inherit;
    }

    i{
      position: relative;
      left: -10px;
    }

  }

  .home-header-info{

    background: #f7f7f7;

  }

}

  // Home Feature
#Home-feature{

  .feature-container{

    gap: 20px;

    .feature{
      position: relative;
      background: #f7f7f7;
      border-radius: 20px;
      padding: 1.6rem 2rem;
      width: 98%;
      margin-left: 2%;
      box-sizing: border-box;
      box-shadow: 0 5px 10px rgba(#000, .1);
      @include flex(row, flex-start, center);

      i{
        color: #7e7e7e;
        margin-right: 2rem;
        font-size: 1.2rem;
      }

      &.active, &:hover{

        background: #f5edff;

        i{
          color: $color-primary;
        }
      }

      &:before{
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        top: 50%;
        left: 0;
        background: $color-primary;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        color: $color-txt-secondary;
        @include flex(row, center, center);
      }

      @for $i from 1 through 3{

        &:nth-child(#{$i}):before{
          content: string.quote(#{$i});
        }

      }

    }

  }

}

  // Home Restaurant
#Home-restaurant{

  background: #f7f7f7;

  .restaurant-container{

    gap: 20px;

  }

}


// Menu Page

  // Menu Header
#Menu-header{

  height: 68vw;
  width: 100%;
  background: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat center center;
  background-size: cover;

}

  // Menu List

#Menu-list{
  background: #f7f7f7;

}

.menu-list-content {
  background: inherit;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -40px;
  padding-top: 2rem;

  .menu-list-header{

    @include flex(row, flex-start, center);
    justify-content: space-between;

    .section-title{
      font-size: 1.7rem;
    }

    .menu-list-logo-container{
      padding-right: 1em;
      position: relative;
    }

  }

  .menu-choice-container{

    gap: 14px;

    .menu-choice-container-title{
      font-size: 1.1rem;
      position: relative;


      &:before{
        content: "";
        position: absolute;
        height: 3px;
        width: 3rem;
        background: $color-tertiary;
        bottom: 0;
        left: 0;
      }

    }

    .menu-choice{

      white-space: nowrap;
      overflow: hidden;
      position: relative;
      opacity: 0;
      cursor: pointer;



      .menu-info{

        padding: .6rem;
        flex-grow: 1;
        flex-basis: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;

        .menu-info-title{
          font-size: 1.2rem;
          margin-bottom: .2rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .menu-info-details-container{
          text-overflow: ellipsis;
          overflow: hidden;
          position: relative;
          padding-right: 3rem;


          .menu-info-price{

            position: absolute;
            top: 50%;
            right: .4rem;
            transform: translateY(-50%);

          }

        }

      }

      .is-selected-container{

        overflow: hidden;
        width: 0;
        position: relative;
        background: $color-tertiary;
        transition: width .3s ease-in;

        i{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotateZ(0deg);
          background: #fff;
          border-radius: 50%;
          padding: .4rem;
          color: $color-tertiary;

          transition: all 0s;
        }

      }

      &:hover{

        .menu-info{
          width: calc(100% - 60px);
        }

        .is-selected-container{
          width: 60px;


          i{
            transform: translate(-50%, -50%) rotateZ(360deg);
            transition: transform .3s linear;
          }
        }

      }

    }

  }

  .button-container{

    .btn{
      @include px(3rem);
    }

  }

}

// Menu Animation

.menu-choice{

  $menu-anim-delay: .12s;

  @for $i from 2 through 5{

    &:nth-child(#{$i})
    {
      animation: reveal-bottom .6s calc($i*$menu-anim-delay) ease-out forwards;
    }
  }

}

@keyframes reveal-bottom {
  0%{
    opacity: 0;
    top: 40px;
  }
  100%{
    opacity: 1;
    top: 0;
  }
}



// Responsive

  // Tablet
@media (min-width: 768px) {

  // Home
  .restaurant-container{
    flex-direction: row;
    align-items: stretch;

    .card{
      margin-bottom: 0;
    }
  }

  // Menu
  #Menu-header{
    height: 30vw;
  }

}