@use "sass:string";
@import "./_partials/variables";
@import "./_partials/reset";
@import "./_partials/layout";
@import "./_partials/text";
@import "./_partials/btn";
@import "./_partials/card";
@import "./_partials/loader";


// Header
.page-header{

  position: relative;
  z-index: 16;
  padding: .9rem 1rem .4rem 1rem;
  box-shadow: 0 0 6px rgba(#000, .2);

  .page-title{
    text-align: center;
  }

  .back-link{
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: $color-grey;
  }

}

// Footer
.page-footer{
  background: $color-bg-footer;
  color: $color-txt-secondary;

  *{
    color: inherit;
  }

  .page-footer-content{
    gap: 10px;

    .page-footer-title{
      font-size: 1.1rem;
    }

    i.fa-handshake-angle{
      font-size: .7rem;
    }

  }



}

// Home

  // Home Header
#Home-header{

  .location{
    background: #eaeaea;
    color: $color-grey;

    *{
      color: inherit;
    }

    i{
      position: relative;
      left: -10px;
    }

  }

  .home-header-info{

    background: #f7f7f7;

  }

}

  // Home Feature
#Home-feature{

  .feature-container{

    gap: 20px;

    .feature{
      position: relative;
      background: #f7f7f7;
      border-radius: 20px;
      padding: 1.6rem 2rem;
      width: 98%;
      margin-left: 2%;
      box-sizing: border-box;
      box-shadow: 0 5px 10px rgba(#000, .1);

      @include flex(row, flex-start, center);

      i{
        color: #7e7e7e;
        margin-right: 2rem;
        font-size: 1.2rem;
      }

      &.active, &:hover{

        background: #f5edff;

        i{
          color: $color-primary;
        }
      }

      &:before{
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        top: 50%;
        left: 0;
        background: $color-primary;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        color: $color-txt-secondary;
        @include flex(row, center, center);
      }

      @for $i from 1 through 3{

        &:nth-child(#{$i}):before{
          content: string.quote(#{$i});
        }

      }

    }

  }

}

  // Home Restaurant
#Home-restaurant{

  background: #f7f7f7;

  .restaurant-container{

    gap: 20px;


  }

}


// Menu Page

  // Menu Header
#Menu-header{

  height: 68vw;
  width: 100%;
  background: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat center center;
  background-size: cover;

}

  // Menu List

#Menu-list{
  background: #f7f7f7;

}

.menu-list-content {
  background: inherit;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -40px;
  padding-top: 2rem;

  .menu-list-header{

    @include flex(row, flex-start, center);
    gap: 30px;

    .section-title{
      font-size: 1.7rem;
    }

    i{
      font-size: 1.6rem;
    }
  }

  .menu-choice-container{

    gap: 14px;

    .menu-choice-container-title{
      font-size: 1.1rem;
      position: relative;


      &:before{
        content: "";
        position: absolute;
        height: 3px;
        width: 3rem;
        background: $color-tertiary;
        bottom: 0;
        left: 0;
      }

    }

    .menu-choice{

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .menu-info{

        padding: .6rem .8rem;
        flex-grow: 1;
        flex-basis: auto;
        overflow: hidden;
        text-overflow: ellipsis;

        .menu-info-title{
          font-size: 1.2rem;
          margin-bottom: .2rem;
        }

      }

      .is-selected-container{

        overflow: hidden;
        width: 0;
        position: relative;
        background: $color-tertiary;
        transition: width .3s ease-in;

        i{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotateZ(0deg);
          background: #fff;
          border-radius: 50%;
          padding: .4rem;
          color: $color-tertiary;

          transition: all 0s;
        }

      }

      &:hover{

        .is-selected-container{
          width: 16%;


          i{
            transform: translate(-50%, -50%) rotateZ(360deg);
            transition: transform .3s linear;
          }
        }

      }

    }

  }

  .button-container{

    .btn{
      @include px(3rem);
    }

  }

}