// Mixin
@mixin btn($bg: $default-btn-bg,
$txt-color: $default-btn-txt-color,
$font-size: $default-btn-font-size,
$radius: $default-btn-radius,
$padding: $default-btn-padding)
{

  background: $bg;
  color: $txt-color;
  font-size: $font-size;
  border-radius: $radius;
  padding: $padding;
  box-shadow: 0 3px 6px rgba(#000, .2);
  position: relative;
  transition: all .2s ease-in-out;

  &:after{
    opacity: 0;
    content: "";
    transition: all .2s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background: rgba(#fff, .16);
    border-radius: $radius;
  }

  &:hover{

    box-shadow: 0 3px 8px rgba(#000, .6);
    &:after{
      opacity: 1;
    }

  }

}

.btn{
  @include btn();
}