// Cards

.card{

  border-radius: 18px;
  overflow: hidden;
  width: 100%;
  background: #fff;
  color: $color-txt-primary;
  box-shadow: 0 5px 8px rgba(#000, .1);


  *{
    color: inherit;
    background: inherit;
  }

  .card-img-container{
    position: relative;
    overflow: hidden;
    padding-top: 52%;

    .card-img{
      position: absolute;
      top: 36%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

    }

    .card-label-container{

      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;

      .card-label{
        padding: .4rem .8rem;
        background: $color-tertiary;
        color: darken($color-tertiary, 40%);
        font-weight: 500;
        position: absolute;
        top: .8rem;
        right: .8rem;
        border-radius: 2px;
        font-size: .9rem;
      }

    }

    img{
      width: 100%;
    }

  }

  .card-info{

    padding: 1rem .8rem;
    @include flex(row, space-between, center);

    .card-info-title{
      margin-bottom: .2rem;
    }

    .card-info-like{
      padding-right: .6rem;
      position: relative;



    }

  }

}

.card-horizontal{

  border-radius: 15px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(#000, .1);


}