// Mixins
@mixin flex($direction: column,$justify: space-between, $align: stretch){

  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;

}

// Layout classes
.container{

  width: 100%;
  max-width: 1400px;
  margin: auto;
  box-sizing: border-box;
  padding: 1.2rem;

}

.d-flex{
  @include flex();
}

.d-flex-row{
  @include flex(row);
}

.d-block{
  display: block;
}

.d-i-block{
  display: inline-block;
}

// Margins / Padding
@mixin px($val){
  padding-left: $val;
  padding-right: $val;
}

@mixin py($val){
  padding-top: $val;
  padding-bottom: $val;
}

@each $i,$val in $margins{

  .mb-#{$i}{
    margin-bottom: $val;
  }

  .ml-#{$i}{
    margin-left: $val;
  }

  .my-#{$i}{
    margin: $val 0;
  }

  .mx-#{$i}{
    margin: 0 $val;
  }

  .pb-#{$i}{
    padding-bottom: $val;
  }

  .pl-#{$i}{
    padding-left: $val;
  }

  .py-#{$i}{
    @include py($val)
  }

  .px-#{$i}{
    @include px($val)
  }

}
