// Loader

 // Mettre uniquement sur la page d'accueil
.loader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  z-index: 20;
  animation: opacity 3s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  .loader-content{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;




  }
}


  // Animation
.loader-anim-grow-shrink{

  $duration: 1.2s;
  $type: ease-out;
  $initial-offset: 46%;

  span{


    position: absolute;
    left: $initial-offset;
    transform: translateX(-50%);
    font: inherit;
    font-size: 2rem;
    display: inline-block;
    /*text-shadow: 3px 0 $color-tertiary, -3px 0 $color-tertiary, 0 3px $color-tertiary, 0 -3px $color-tertiary,
    2px 2px $color-tertiary, -2px 0 $color-tertiary, 0 2px $color-tertiary, 0 -2px $color-tertiary,
    1px 1px $color-tertiary, -1px -1px $color-tertiary, 1px -1px $color-tertiary, -1px 1px $color-tertiary;*/
    @for $i from 1 through 3{

      &:nth-child(#{$i}){
        animation: grow-shrink-#{$i} $duration $type infinite;
      }

    }

    &:nth-child(1)
    {
      left: $initial-offset - 13;
    }

    &:nth-child(3){
      left: $initial-offset + 17.4;
    }

  }

}

@keyframes grow-shrink-1 {
  0%{
    font-size: 2rem;
  }
  20%{
    font-size: 3rem;
  }
  30%, 100%{
    font-size: 2rem;
  }
}

@keyframes grow-shrink-2 {
  0%, 30%{
    font-size: 2rem;
  }
  50%{
    z-index: 2;
    font-size: 3rem;
  }
  60%, 100%{
    font-size: 2rem;
  }
}

@keyframes grow-shrink-3 {
  0%, 60%{
    font-size: 2rem;
  }
  80%{
    font-size: 3rem;
  }
  90%, 100%{
    font-size: 2rem;
  }

}

@keyframes opacity {

  0%{
    opacity: 1;
    display: block;
  }
  70%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    pointer-events: none;
    display: none;
  }

}