// Font Import
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

// Colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

// Text
$font-primary: "Roboto", sans-serif;
$font-secondary: "Shrikhand", cursive;



